<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddressBookTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB1ED0671A6079AE005C28D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB4E59841A606BAA0031A357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB4E599D1A606BAB0031A357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
